.fondo{
    background-color: wheat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body{
    width: 80%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 80%;
    background-color: salmon;
    margin: 10px;
}

.navegacion{
    margin: 10px;
    width: 100%;
}

.button{
    border-radius: 40%;
    margin: 10px;
    border: solid wheat;
    color: gray;
    background-color: khaki;
    align-items: center;
    width: 100px;
}

.button:hover{
    background-color: chocolate;
    color: antiquewhite;
}

.button:active{
    transform: translate(2px);
}

.text{
    margin: 10px;
    text-align: center;
    width: 40%;
    padding: 50px;
    background-color: beige;
    color: gray;
}


.footer{
    display: flex;
    text-align: center;
    padding: 5px;
    background-color: brown;
    width: 80%;
    color: antiquewhite;
    justify-content: center;
}